* {
    #border: 1px solid black;
    font-family: Yantramanav;
    #margin: -1px;
}
.getHitsLanding{
    padding-top: 15%;
    padding-left: 5%;
    width: 100%;
    height: 100%;
    color: #ceeaf8;
    position:absolute;
    font-size: 200px;
    font-weight: 100;
    z-index: 1000;
    background: url("headphones.jpg") no-repeat;
    background-size: cover;
    box-shadow: 20px 10px 900px 20px #c59ef6 inset;
}
body
{
    font-size: 0; /*eliminates space created by /n*/
}

div
{
    font-size: initial;  /*sets back to initial font size not inherited*/
}
.members a{
    pointer-events: none;
}
.headerRow
{
    /*position: fixed;*/
    height: 15vh;
}
.headerRow  div
{
    min-height: 2.5em;
    height: 12vh;
}

.rightHeaderBar
{
    background-color: lightgreen;
}

.firstBar
{
    height: auto;
    min-height: 50vh;
}
.artist{
    position: relative;
    background-color: #f0f0f0;
    padding-bottom: 12px;
    transition: .3s;
}
.artist:hover{
    color: #e4e4e4;
    background-color: #4a4a4a;
    cursor: pointer;
}
.album-header{
    height: 100px;
}
.artistModal{
    width: 90%;
    margin-left: 5%;
    height: 80vw;
    /*position:absolute;*/
    background-color: lightgrey;
    /*opacity: 0.95;*/

}
.artistModal{
    position:fixed;
    background: white;
    top: 20px;
    height: 95%;
}
.dropBtn{
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    background: #ababab;
    border: none;
    height: 40px;
    border-radius: 0px 0px 0px 0px;
}
.dropBtn:hover{
    background: #5e5e5e;
}

img {
    width: 100%;
    height: auto;
}
.artistBg{
    -webkit-filter: grayscale(50%);
}

.close {
    margin-top: 20px;
    font-size: 50px;
}

.spotify_player{
    text-align: center;
    border: 1px solid;
    display: inline-block;
}

.headerRow{
    top: 20px;
    width: 95%;
}
.artistInfo{
    padding:40px;
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    background: rgba(100,100,100,.8);
    border-radius: 10px;
}
.firstRow{
    margin-top: 120px;
}
.firstLeftBar{
    text-align: center;
}
.firstRightBar{
    text-align: center;
}
.headerBar{
    margin-top: 20px;
}
.musicGrid{
    margin-top: 15px;
}
#getHits{
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    background: #95c6bd;
    color: #f4f4f4;
    border: none;
    height: 40px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 8px;
}
#search_button{
    float: right;
    width: 25%;
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    background: #ababab;
    color: #eaeaea;
    border: none;
    height: 40px;
    border-radius: 0px 0px 0px 0px;
}
.search_field{
    width:70%;
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    background: #dddddd;
    border: none;
    height: 40px;
    border-radius: 0px 0px 0px 0px;
}
.searchContainer{
    border-radius: 6px;
    padding: 6px;
    background: #6cc4d8;
}
.dropdown{
    display: inline-block;
    margin-bottom: 8px;
}

.centerHeaderBar{
    background-color: lightgreen;
}

.centerHeaderBar h1{
    padding-top: 10px;
}

